{% extends 'layout.html' %}

{% block title %}{{ image }}{% endblock %}

{% block head %}
  {% ifnotequal previous_image "" %}
  <link rel="prev" href="{% url gal.views.image gallery, previous_image %}">
  {% endifnotequal %}

  {% ifnotequal next_image "" %}
  <link rel="next" href="{% url gal.views.image gallery, next_image %}">
  {% endifnotequal %}

  <style>
    .image { border: 1px solid black; padding: 1em; margin: 2em; text-align: center; }
    .image img { max-height: 75%; }
    .caption { text-align: center; padding: 1em; }
  </style>

  <script src="/static/js/mousetrap.min.js"></script>
  <script>
    $(function () {
       Mousetrap.bind('left', function () {
          var prev = $('link[rel="prev"]').first();
          if (prev) {
            var url = $(prev).attr('href');
            if (url) {
              location.href=url;
            }
         };
       });
       Mousetrap.bind('right', function () {
          var next = $('link[rel="next"]').first();
          if (next) {
            var url = $(next).attr('href');
            if (url) {
              location.href=url;
            }
         };
       });
    });
  </script>
{% endblock %}

{% block content %}
<div class="image">
  <img src="{% url gal.views.view_image gallery, image %}" />
  <div class="caption">
    {% ifnotequal previous_image "" %}
      <a href="{% url gal.views.image gallery, previous_image %}">&lt;</a>
    {% endifnotequal %}

    <a href="{% url gal.views.index gallery %}">{{ gallery }}</a>
    /
    {{ image }}

    {% ifnotequal next_image "" %}
      <a href="{% url gal.views.image gallery, next_image %}">&gt;</a>
    {% endifnotequal %}
  </div>
</div>
{% endblock %}
