{% extends 'layout.html' %}

{% block title %}{{ image }}{% endblock %}

{% block head %}
  {% ifnotequal previous_image "" %}
  <link rel="prev" href="{% url gal.views.image gallery, previous_image %}">
  {% endifnotequal %}

  {% ifnotequal next_image "" %}
  <link rel="next" href="{% url gal.views.image gallery, next_image %}">
  {% endifnotequal %}

  <style>
    .image { border: 1px solid black; padding: 1em; margin: 2em; }
    .caption { text-align: center; padding: 1em; }
  </style>
{% endblock %}

{% block content %}
<div class="image">
  <img src="{% url gal.views.view_image gallery, image %}" />
  <div class="caption">
    {% ifnotequal previous_image "" %}
      <a href="{% url gal.views.image gallery, previous_image %}">&lt;</a>
    {% endifnotequal %}

    <a href="{% url gal.views.index gallery %}">{{ gallery }}</a>
    /
    {{ image }}

    {% ifnotequal next_image "" %}
      <a href="{% url gal.views.image gallery, next_image %}">&gt;</a>
    {% endifnotequal %}
  </div>
</div>
{% endblock %}
