{% extends 'layout.html' %}

{% block title %}{{ image }}{% endblock %}

{% block head %}
  {% ifnotequal previous_image "" %}
  <link rel="prev" href="{% url gal.views.image previous_image %}">
  {% endifnotequal %}

  {% ifnotequal next_image "" %}
  <link rel="next" href="{% url gal.views.image next_image %}">
  {% endifnotequal %}

  <style>
    .image { border: 1px solid black; padding: 1em; margin: 2em; }
    .caption { text-align: center; padding: 1em; }
  </style>
{% endblock %}

{% block content %}
<div class="image">
  <img src="{% url gal.views.view_image image %}" />
  <div class="caption">
    {{ image }}
  </div>
</div>
{% endblock %}
